@model Modelo.Modelo.TablasCatalogo.ClienteImportador

@{
    ViewData["Title"] = "información detallada";
}

<div>
    <h4>Información</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ruc_Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ruc_Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
</div>
<div class="accordion" id="panelprincipal">
    <div class="accordion-item">
        <h4 class="accordion-header" id="informacioncontacto">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsecundario" aria-expanded="false" aria-controls="panelsecundario">
            Información de contacto
          </button>
        </h4>
        <div id="panelsecundario" class="accordion-collapse collapse panel-detalle" aria-labelledby="informacioncontacto" data-bs-parent="#panelprincipal">
          <h4>Información</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PersonaContacto.Nombre)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PersonaContacto.Nombre)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PersonaContacto.Telefono)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PersonaContacto.Telefono)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.PersonaContacto.Correo)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.PersonaContacto.Correo)
                </dd>
            </dl>
        </div>
      </div>
</div>
<div>
    <button type="button" class="btn btn-primary button-consulta">
        <a class="etiqueta-en-boton" asp-action="Edit" asp-route-id="@Model?.Idclienteimportador">Editar importador</a>
    </button>
    <button type="button" class="btn btn-warning button-regresar">
        <a class="etiqueta-en-boton" asp-action="Index">Regresar a la lista</a>
    </button>
</div>
