@model IEnumerable<Modelo.Modelo.TablasCatalogo.ClienteProveedor>
@{
    ViewData["Title"] = "Lista cliente extranjero";
}
<div id="contenedorModal"></div>
<form asp-controller="ClienteExtranjero">
    <div class="col-md-12 d-flex flex-column">
    <div class="align-self-end">
        <p>
            <button type="button" class="btn btn-primary">
                <a class="etiqueta-en-boton" asp-action="Create">Agregar cliente</a>
            </button>
        </p>
    </div>
</div>
</form>
<div class="tabla-contenedor">
    <table class="table table-hover">
        <thead class="tabla-columna-center-text">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                Opciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="columna-center-text">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
             <td class="tabla-columna-center-text">
                    <button type="button" class="btn btn-primary">
                        <a class="etiqueta-en-boton" asp-action="Edit" asp-route-id="@item.IdClienteProveedor">Editar cliente</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a class="etiqueta-en-boton" asp-action="Details" asp-route-id="@item.IdClienteProveedor">Ver información detallada</a>
                    </button>
                    <button type="button" class="btn btn-primary"  data-toggle="boostrap-modal" data-target="#DeleteClienteProveedor" data-url ="@Url.Action($"Delete/{@item.IdClienteProveedor}")">
                        Dar Baja
                     </button>
             </td>
        </tr>
}
    </tbody>
</table>
</div>
