@model Modelo.Modelo.TablaRelaciones.BancoP_BancoI_Rel
@{
    ViewData["Title"] = "Details";
}

<div class="col-md-8">
    <div class ="panel panel-primary">
        <h3 class ="panel-title">
            Información del banco
        </h3>
        <div class ="panel-body">
            <div>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.BancoP.Nombre)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.BancoP.Nombre)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.BancoP.Direccion)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.BancoP.Direccion)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class ="panel panel-primary">
        <h3 class ="panel-title">
            Información del banco internacional
        </h3>
        <div class ="panel-body">
            <div>
                <hr />
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.BancoI.Nombre)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.BancoI.Nombre)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.BancoI.Pais)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.BancoI.Pais)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.BancoI.Ciudad)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.BancoI.Ciudad)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
@*<div class="accordion" id="panelprincipal">
    <div class="accordion-item">
        <h4 class="accordion-header" id="informacioncontacto">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsecundario" aria-expanded="false" aria-controls="panelsecundario">
            Información de banco internacional
          </button>
        </h4>
        <div id="panelsecundario" class="accordion-collapse collapse panel-detalle" aria-labelledby="informacioncontacto" data-bs-parent="#panelprincipal">
          <h4>Información</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreBancoInternacional)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.NombreBancoInternacional)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Pais)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Pais)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>
                    </dl>
                </div>
      </div>
</div>*@
<div>
    <form asp-controller="BancoProveedor">
        <button type="button" class="btn btn-primary button-regresar">
        <a class="etiqueta-en-boton" asp-action="Index">Regresar a la lista</a>
    </button>
    </form>
</div>
